/* Print-specific styles */
@media print {
  body * {
    visibility: hidden;
  }

  .printable-table,
  .printable-table * {
    visibility: visible;
  }

  .printable-table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-collapse: collapse;
  }

  .printable-table th,
  .printable-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }

  .printable-table th {
    background-color: #f2f2f2;
  }

  .trash-column {
    display: none;
  }
}
.identity-container {
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  background-color: #d6d1d1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.identity-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.identity-container select {
  font-size: 25px;
  width: 100px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.identity-container select:focus {
  border-color: #007bff;
  outline: none;
}

.identity-container .empty-field {
  border-color: red;
}

.identity-container select.form-select-md {
  font-family: "Arial", sans-serif;
}
select {
  align-items: center;
}
.graph-button:hover {
  background-color: #0edf84; /* Change this to the color you want on hover */
}
.search-containerfeed {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-search {
  width: 100%;
  padding: 4px 4px 4px 4px; /* Adjust padding to make space for the icon */
  box-sizing: border-box;
  background-size: 20px; /* Adjust size as needed */
}

.search-resultsfeed {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.search-result-itemfeed {
  padding: 10px;
  cursor: pointer;
}

.search-result-itemfeed:hover {
  background-color: #fbfbfb;
}
/* FeedbackDetails.css */

.selectors-container {
  display: flex;
  gap: 20px;  
  align-items: flex-start;  
  background-color: #d6d1d1;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.feedback-summary {
  margin-left: 50px;
  margin-top: 20px;
  width: max-content;
  padding: 5px;
  font-weight: bold;
}