# Ignore node_modules directory
node_modules/

# Ignore build or compiled files
build/
dist/
*.bundle.js
*.bundle.css

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore operating system files
.DS_Store
Thumbs.db